.dark-input {
  background-color: #212529;
  color: #fff;
  border: 1px solid #4f4f4f;
}

.dark-input:focus {
  background-color: #212529;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.dark-placeholder::placeholder {
  color: #adb5bd;
}
